@model RecipeSiteAspNet.Models.Recipe;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add";
}
<div>

    <div class="mx-auto mb-3 p-3">
        <button class="btn btn-primary" id="redactModeBtn">Включить режим редкатирования</button>
    </div>

    <div class="mx-auto container m-1 p-1 recipeDetail">
        <div class="card">
            <h5 class="card-header">Время приготовления: @Model.CookingTimeMinutes минут(ы)</h5>
            <div class="card-body">
                <div class="d-flex justify-content-right">
                    <div class="m-3">
                        <img class="rounded" width="128" height="128" src="@Url.Content(@ViewBag.Image.WebPath)" alt="@ViewBag.Image.AbsolutePath" />
                    </div>
                    <div>
                        <h5 class="card-title">@Model.Name</h5>
                        <p class="card-text text-wrap">@Model.Description</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>

    <div class="mx-auto container card p-3 m-1 recipeRedact">
        <!--Редактирование-->
        <form id="formRecipe" method="post" asp-action="UpdateRecipe" asp-controller="Administration" asp-route-id=@Model.RecipeID enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <partial name="_RecipeForm.cshtml" />

            <!--Загрузка изображений-->
            <h5>Редкатирование изображения</h5>
            <div class="m-3">
                <img width="128" height="128" src="@Url.Content(@ViewBag.Image.WebPath)" alt="@ViewBag.Image.AbsolutePath" />
            </div>
            <div class="mb-3">
                <input class="form-control" name="file" type="file" />
                <span class="field-validation-valid" data-valmsg-for="file" data-valmsg-replace="true"></span>
            </div>

            <div class="mb-3">
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Сохранить" />
            </div>

        </form>

        <!--Удаление-->
        <div class="m-3">
            <h5>Удалить рецепт</h5>
            <form asp-action="DeleteRecipe" asp-controller="Administration" asp-route-id=@Model.RecipeID>
                @Html.AntiForgeryToken()
                <input class="btn btn-danger" type="submit" value="Удалить" />
            </form>
        </div>
    </div>


    <div class="mx-auto container card m-2 p-3 recipeRedact">
        <h2>Шаги приготовления</h2>
        <h5>Добавить шаг</h5>
        <!--СОЗДАНИЕ-->
        <form id="formRecipeStep" asp-action="CreateRecipeStep" asp-controller="Administration" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" name="recipeId" value="@Model.RecipeID" />
            <div class="mb-3">
                <label class="form-label" for="file1">Изображение</label><br />
                <input class="form-control" name="file1" type="file" required />
            </div>
            <span class="field-validation-valid" data-valmsg-for="file1" data-valmsg-replace="true"></span>

            <div class="mb-3">
                <label class="form-label" for="Description">Описание</label><br />
                <textarea class="form-control" name="Description" required></textarea>
            </div>
            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>

            <input class="btn btn-primary" type="submit" value="Добавить" />
        </form>
    </div>

    <div class="mx-auto w-50 conteiner m-2 p-2">
        <h5>Шаги</h5>
        <!--Шаги рецепта-->
        @foreach (var stepItem in ViewBag.Steps)
        {
            <div class="card p-2 mt-3 mb-3">

                <div class="recipeDetail">
                    <div class="d-flex justify-content-right">
                        <div class="m-1">
                            <img style="max-height:128px;" class="img-fluid img-thumbnail" object-fit: cover;" src="@Url.Content(@stepItem.img.WebPath)" alt="@stepItem.img.AbsolutePath" />
                        </div>
                        <p class="card-text text-wrap">@stepItem.item.Description</p>
                    </div>
                </div>

                <div class="recipeRedact">
                    <div class="m-1">
                        <img style="max-height:128px;" class="img-fluid img-thumbnail" object-fit: cover;" src="@Url.Content(@stepItem.img.WebPath)" alt="@stepItem.img.AbsolutePath" />
                    </div>
                    <!--РЕДАКТИРОВАНИЕ-->
                    <form id="formRecipeStep" asp-action="UpdateRecipeStep" asp-controller="Administration" method="post">
                        <div class="m-1">
                            <div>
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ReciepeStepId" value="@stepItem.item.ReciepeStepId" />
                                <div class="mb-1">
                                    <textarea class="form-control" name="Description" required>@stepItem.item.Description</textarea>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                            </div>
                            <input class="btn btn-primary btn-sm" type="submit" value="Сохранить" />
                        </div>
                    </form>
                    <!--УДАЛЕНИЕ-->
                    <form asp-action="DeleteRecipeStep" asp-controller="Administration" asp-route-id=@stepItem.item.ReciepeStepId>
                        @Html.AntiForgeryToken()
                        <div class="m-1">
                            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Удалить" />
                        </div>
                     </form>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {
<script>
    let isRedactMode = false;
    $('.recipeDetail').css({"display":"block"});
    $('.recipeRedact').css({"display":"none"});

    $("#redactModeBtn").click(function () {
        isRedactMode = !isRedactMode;
        if(isRedactMode)
        {
            $(this).text("Выйти из режима редактирования");
            $('.recipeDetail').css({"display":"none"});
            $('.recipeRedact').css({"display":"block"});
        }
        else
        {
            $(this).text("Включить режим редкатирования");
            $('.recipeDetail').css({"display":"block"});
            $('.recipeRedact').css({"display":"none"});
        }
    });
</script>
}