@model RecipeSiteAspNet.Models.Recipe;
@using Microsoft.AspNetCore.Identity;
@using RecipeSiteAspNet.Areas.Identity.Data;
@inject UserManager<RecipeSiteUser> UserManager


<!-- Модальное окно -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p id="infoModalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <button class="m-auto btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRedactor" aria-expanded="false" aria-controls="collapseExample">
        Открыть редактор рецепта
    </button>
</div>

<div class="collapse mx-auto container card p-3 m-1" id="collapseRedactor">
    <!--Редактирование-->
    <form id="formRecipe" method="post" asp-action="UpdateRecipe" asp-controller="Administration" asp-route-id=@Model.RecipeID enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <partial name="_RecipeForm.cshtml" />

        <!--Загрузка изображений-->
        <h5>Редкатирование изображения</h5>
        <div class="m-3">
            <img width="128" height="128" src="@Url.Content(@Model.Img?.Path)" alt="@Model.Img?.Name" />
        </div>
        <div class="mb-3">
            <input class="form-control" name="file" type="file" />
            <span class="field-validation-valid" data-valmsg-for="file" data-valmsg-replace="true"></span>
        </div>

        <div class="mb-3">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Сохранить" />
        </div>

    </form>

    <!--Удаление-->
    <div class="m-3">
        <h5>Удалить рецепт</h5>
        <form asp-action="DeleteRecipe" asp-controller="Administration" asp-route-id=@Model.RecipeID>
            @Html.AntiForgeryToken()
            <input class="btn btn-danger" type="submit" value="Удалить" />
        </form>
    </div>
</div>

<!--ШАГИ-->
<div class="mx-auto container card m-2 p-3">
    <h2>Шаги приготовления</h2>
    <h5>Добавить шаг</h5>
    <!--создание-->
    <form id="formCreateRecipeStep" asp-action="CreateRecipeStep" asp-controller="Administration" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input type="hidden" name="recipeId" value="@Model.RecipeID" />
        <div class="mb-3">
            <label class="form-label" for="file">Изображение</label><br />
            <input class="form-control" name="file" type="file" required />
        </div>
        <span class="field-validation-valid" data-valmsg-for="file" data-valmsg-replace="true"></span>

        <div class="mb-3">
            <label class="form-label" for="Description">Описание</label><br />
            <textarea class="form-control" name="Description" required></textarea>
        </div>
        <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>

        <input class="btn btn-primary" id="createstep" type="button" value="Добавить" />
    </form>
</div>

<div id="steps">
</div>

@section Scripts
{
<script>
    let myModal = new bootstrap.Modal(document.getElementById("infoModal"), {});

    let UpdateSteps = function() {
        $.ajax({
            url: '@Url.Action("GetStepPartialView", "Administration")',
            type: "get",
            success: function (result) {
                $('#steps').html(result);
                //
                $(".updatesteps").on('click', function() {
                    let _url = '@Url.Action("UpdateRecipeStep", "Administration")';
                    let formData = new FormData();
                    let form = this.parentElement.parentElement;
                    let formArr = $(form).serializeArray();
                    formArr.forEach((element) => {formData.append(element.name, element.value)});
                    $.ajax({
                        url: _url,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: formData,
                        success: function(data) {
                            UpdateSteps();
                            $("#infoModalText").text("Изменения сохранены");
                            myModal.show();
                        }
                    });
                });
                //
                $('#createstep').click(function() {
                    let _url = '@Url.Action("CreateRecipeStep", "Administration")';
                    let formData = new FormData();
                    let formArr = $('#formCreateRecipeStep').serializeArray();
                    formArr.forEach((element) => {formData.append(element.name, element.value)});
                    formData.append("file", document.getElementById("formCreateRecipeStep").file.files[0]);
                    $.ajax({
                        url: _url,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: formData,
                        success: function(data) {
                            UpdateSteps();
                            $("#infoModalText").text("Шаг создан");
                            myModal.show();
                        }
                    });
                });
                //
                $(".deletesteps").on('click', function() {
                    let _url = '@Url.Action("DeleteRecipeStep", "Administration")';
                    let formData = new FormData();
                    let form = this.parentElement.parentElement;
                    let formArr = $(form).serializeArray();
                    formArr.forEach((element) => {formData.append(element.name, element.value)});
                    $.ajax({
                        url: _url,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: formData,
                        success: function(data) {
                            UpdateSteps();
                            $("#infoModalText").text("Шаг удалён");
                            myModal.show();
                        }
                    });
                });
                //
            },
            error: function (xhr, status, error) {
                var msg = "Response failed with status: " + status + "</br>"
                + " Error: " + error;
                $('#steps').html(msg);
            }
        });
    }
    UpdateSteps();
</script>
}

