@model RecipeSiteAspNet.Models.RecipeDetailModelView;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Add";
}
<div>

    <div class="mx-auto mb-3 p-3">
        <a class="btn btn-primary" asp-controller="Administration" asp-action="RecipeRedact" asp-route-id="@Model.recipe.RecipeID">Редактировать</a>
    </div>

    <div class="mx-auto container m-1 p-1">
        <div class="card">
            <h5 class="card-header">Время приготовления: @Model.recipe.CookingTimeMinutes минут(ы)</h5>
            <div class="card-body">
                <div class="d-flex justify-content-right">
                    <div class="m-3">
                        <img class="rounded" width="128" height="128" src="@Url.Content(@Model.recipe.Img?.Path)" alt="@Model.recipe.Img?.Name" />
                    </div>
                    <div>
                        <h5 class="card-title">@Model.recipe.Name</h5>
                        <p class="card-text text-wrap">@Model.recipe.Description</p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>


    <div class="mx-auto w-50 conteiner m-2 p-2">
        <h5>Шаги</h5>
        <!--Шаги рецепта-->
        @foreach (var stepItem in @Model.reciepeSteps)
        {
            <div class="card p-2 mt-3 mb-3">

                <div class="d-flex justify-content-right">
                    <div class="m-1">
                        <img style="max-height:128px;" class="img-fluid img-thumbnail" object-fit: cover;" src="@Url.Content(@stepItem.Img?.Path)" alt="@stepItem.Img?.Name" />
                    </div>
                    <p class="card-text text-wrap">@stepItem.Description</p>
                </div>
            </div>
        }
    </div>
</div>
